.mid-content{
    width: 100%;
    flex-direction: column;
    color: white;
    display: block;
}
.j1kjk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.askdqwe{
    color: #9ae200;
}
.ksaja{
    padding: 40px;
    display: flex;
    flex-direction: column;
}