html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #19222b;
	position: relative;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    background-color: #0D0F10;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* scrolbar settings */
::-webkit-scrollbar {
    width: 5px;
}
/* scrollbar track and color */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(154, 226, 0); 
    border-radius: 20px;
}
/* scrollbar background and border */
::-webkit-scrollbar-thumb {
    background-color: rgb(154, 226, 0);
    border-radius: 10px;
}

/* Mobile menu settings display */
.mobile-menu-holder{
    display: none;
}
/* Logo image on left side */
.logo{
    width: 20%;
    align-self: flex-start
}


/* Dropdown buttons styling*/
.menu-holder{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.dropdown-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-dropdown{
    background-color: #0e2a2c;
    color: white;
    border: none;
    border-radius: 6px;
}
div.btn-group > button > div{
    border-radius: 6px;
    color: #029372;
    background-color: #0d3735;
    display: inline-block;
    padding: 10px 10px;
    
}
div.btn-group > button:hover{
    transition: 0.5s ease-in-out;
    color: #9ae200;
}
div.btn-group > button {
    padding: 0;
    padding-right: 10px;
    margin-left: 5px;
}
.dropdown-menu{
    background-color: #111618;
}
.dropdown-menu > li > a{
    color:#9299a0;
    transition: 0.5s ease-in-out;
}
.dropdown-menu > li > a:hover{
    color: white;
    background-color: #9ae200;
}


/* Social buttons styling */
a.social:nth-child(1){
    margin-left: 5px;
    padding: 2px 3px;
}
a.social:nth-child(2){
    padding: 2px 10px;
}
a.social{
    width: 38px;
    height: 38px;
    background-color:#0d3735;
    color: #029372;
    font-size: 35px;
    border-radius: 6px;
    transition: 0.5s ease-in-out;
}
a.social:hover{
    text-decoration: none;
    color: #9ae200!important;
}


/* Menu navigation links styling*/
div.navigation-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.navigation-buttons > nav{
    margin-top: 15px;
    padding: 30px 25px;
    background-color: transparent;
    overflow: hidden;
}
a.selected{
    color: #9ae200;
    border-top: 3px solid #9ae200;
    text-decoration: none;
    background-color: rgba(152,225,25,.16); 
    box-shadow: 0 0 100px 45px rgba(152,225,25,.16)
}
div.navigation-buttons > nav > a{
    padding: 0px 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
div.navigation-buttons > nav > a:hover{
    color: #9ae200;
    border-top: 3px solid #9ae200;
    text-decoration: none;
    background-color: rgba(152,225,25,.16);
    box-shadow: 0 0 100px 45px rgba(152,225,25,.16)
}


/* User login, password input styling */
.user{
    width: 20%;
}
div.user > form {
    display: flex;
    flex-direction: column;
}
div.user > form > div{
    display: flex;
}
div.user > form > input:nth-child(3){
    background-color: #9ae200;
    color: white;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
div.user > form > div > a:nth-child(1){
    width: 50%;
    text-align: left;
}
div.user > form > div > a:nth-child(2){
    width: 50%;
    text-align: right;
}
div.user > form > div > a{
    margin-top: 10px;
    color: #9ae200;
    font-size: 10px;
}
.inputs{
    border-radius: 5px;
    background-color: #1e1d1f;
    height: 30px;
    border: none;
    padding: 0px 15px;
    margin-bottom: 5px;
}

/* Left content styling */
.left-content{
    margin-left: 0.3%;
    width: 15%;
    background-color: #111618;
    height: 78vh;
    overflow-y: scroll;
    padding: 2px 3px;
}
.left-content-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #9ae200;
    border: 1px solid #98e119;
    box-shadow: 0px 0px 10px #98e119;
    text-shadow: 1px 0 50px #98e119;
    font-weight: bold;
    width: 100%;
    height: 40px;
    background: #0d3231;
    transition: all .3s ease;
    height: 116px;
}
div.left-content > a >div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100%;
    height: 40px;
    transition: all .3s ease;
    height: 116px;
}
div.left-content > a >img{
    padding: 36px 45px;
}
div.left-content > a{
    margin-bottom: 2px;
}
div.left-content > a:hover{
    text-decoration: none;
}
div.left-content > a > div:hover, div.left-content > a > img:hover{
    transition: all 0.2s ease-in-out;
    color: #9ae200;
    border: 1px solid #98e119;
    box-shadow: 0px 0px 10px #98e119;
    text-shadow: 1px 0 50px #98e119;
    background-color: #0d3231;
}

/* Mid content styling */
.mid-content{
    width:64%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 78vh;
    background-color: #111618;
    overflow-y: scroll;
    
}
.match-result{
    align-self: flex-start;
    flex-direction: row;
    width: 40%;
    height: 43vh;
}
.video-holder{
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    flex-wrap:wrap;
    flex: 0 0 48%;
    height: 43vh;
    background: #0d3231;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #0d0f10;
}
.title{
    flex: 0 0 100%;
    flex-direction: column;
    color: #9ae200;
    padding: 7px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #0d0f10;
    font-size: 13px;
}

.video{
    align-self: flex-start;
    flex-direction: row;
    width: 58%;
    min-height: 150px;
}

div.match-result > div:nth-child(1){
    width: 100%;
    margin-left: 10px;
    color: white;
    flex-direction: row;
    border-bottom: 1px solid black;
}
div.match-result > div:nth-child(2),div.match-result > div:nth-child(6) {
    color: white;
    width: 105%;
    padding: 0px 10px;
}
div.match-result > div:nth-child(3),div.match-result > div:nth-child(4),
div.match-result > div:nth-child(7),div.match-result > div:nth-child(8){
    background-color: #111618;
    width: 105%;
    padding: 8px 10px;
    transition: all 0.2s ease-in-out;
}
div.match-result > div:nth-child(3):hover,div.match-result > div:nth-child(4):hover,
div.match-result > div:nth-child(7):hover,div.match-result > div:nth-child(8):hover{
    box-shadow: inset 0 0 0 1px #9ae200;
    cursor: pointer;
}
div.match-result > div:nth-child(3) > div:nth-child(1),div.match-result > div:nth-child(4) > div:nth-child(1),
div.match-result > div:nth-child(7) > div:nth-child(1),div.match-result > div:nth-child(8) > div:nth-child(1){
    display: inline-block;
    color: white;
}
div.match-result > div:nth-child(3) > div:nth-child(2),div.match-result > div:nth-child(4) > div:nth-child(2),
div.match-result > div:nth-child(7) > div:nth-child(2),div.match-result > div:nth-child(8) > div:nth-child(2){
    float: right;
    color: #9ae200;
}
div.match-result > div:nth-child(10){
    width: 105%;
    padding: 5px 10px;
    color: #9ae200;
    font-size: 12px;
    background-color: #024642;
}
div.match-result > div:nth-child(10):hover{
    cursor: pointer;
}

/* Slideshow styling */
.slideshow{
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    position: relative;
    margin-left: 5px;
    height: 0;
}
#carousel-example-generic{
    height: 0;
}
.matches{
    flex-direction: row;
    flex: 1;
    margin-top: 10px;
}
.carousel-inner>.item>img{
    height: 43vh;
}

.slide-arrows{
    position: relative;
    bottom: 55px;
    left: 30px;
    background-color: rgba(154,226,0,.75);
    padding: 7px 10px;
    font-size: 19px;
    border-radius: 50%;
    color: black;
    margin: 10px 2px;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}
.slide-arrows:hover{
    opacity: 1;
    cursor: pointer;
}
.carousel-indicators > div{
    position: absolute;
    bottom: -20px;
    left: -70px;
}
div.carousel-caption >div:nth-child(1){
    position: absolute;
    top: -200px;
    left:  -60px;
    text-align: left;
    color: #9ae200;
    font-size: 30px;
    font-weight: bold;
}
div.carousel-caption >div:nth-child(2){
    position: absolute;
    top: -150px;
    left: -60px;
    text-align: left;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
div.slideshow > div > div >  div > button{
    border: none;
    position: absolute;
    top: 70%;
    left: 5%;
    max-width: 80%;
    border-radius: 6px;
    padding: 4px 3%;
    color: black;
    background: #9ae200;
}

/* Mid matches btns,search and other content styling */

.search-btn{
    height: 47px;
    border: none;
    background: #024642;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 30px;
    color: white;
}
.search-btn::placeholder{
    color: white;
}
div.matches > div:nth-child(1),div.matches > div:nth-child(2),div.matches > div:nth-child(3),div.matches > div:nth-child(4)
,div.matches > div:nth-child(5){
    display: inline-block;
}
div.search-holder{
    position: relative;
    margin-left: 1%;
}
.fa-search{
    position: absolute;
    bottom: 4px;
    right: 5px;
    padding:13px;
    background-color: #9ae200;
    color: black;
    border-radius: 8px;
}
.fa-search:hover{
    cursor: pointer;
}
.next-btns{
    padding: 13px 15px;
    border-radius: 8px;
    background: #024642;
    color: white;
    margin: 0px 7px;
    transition: 0.3s ease-in-out;
}
.matches-title-holder{
    display: flex;
    flex-direction: row;
    line-height: 30px;
    background-color: #024642;
    margin-top: 5px;
}
.matches-title{
    text-align: center;
    color: white;
    flex: 1;
}

.matches-holder{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
div.matches-holder > div {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px 0px;
}
div.matches-holder > div > div{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}
div.matches-holder > div > div:nth-child(3):hover,div.matches-holder > div > div:nth-child(4):hover{
    transition: all 0.3s ease-in-out;
    color: #9ae200;
    cursor: pointer;
}
.live{
    margin: 0px 10px;
    padding: 5px 10px;
    font-size: 10px;
    border: 1px solid #9ae200;
    color: #9ae200; 
}
.match-dates{
    font-size: 10px;
}
.teams{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    
}
.coefficient{
    font-size: 16px;
    color: #9ae200;
    height: 25px;
    transition: 0.3s ease-in-out;
}
.coefficient:hover{
    box-shadow: inset  0 0 0  1px #9ae200;
    cursor: pointer;
}


/* Right content styling */
.right-content{
    width: 20%;
    height: 78vh;
}
div.right-content > div:nth-child(1){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.right-content > div:nth-child(1) > div{
    background: #024642;
    color: white;
    padding: 5px 15px;
    height: 30px;
    flex: 1;
}
div.right-content > div:nth-child(1) > div:nth-child(2){
    border-left: 1px solid #222e39;
    border-right: 1px solid #222e39;
}
div.right-content > div:nth-child(1) > div:nth-child(2),div.right-content > div:nth-child(1) > div:nth-child(3){
    color: grey;
}
div.right-content > div:nth-child(1) > div:nth-child(4){
    background: url("https://fusion.bet/dist/bet_slip_select_events.png") no-repeat;
    background-color: #0d3231;
    text-align: center;
    margin-top: 5px;
}

/* footer styling */
ooter{
    display: flex;
    flex-direction: column;
    background-color: #0d0f10;
    padding: 20px 0px;
}
.sakdk1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
}
.uykkd{
    display: flex;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.uykkd > img{
    padding: 0px 15px;
}
.yzhsh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #111618;
    border-top: 1px solid #111618;;
}
.yzhsh > a {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.yzhsh > p{
    font-size: 14px;
    text-align: center;
    color: gray;
    margin: 10px 0px;
}
.mnzxc{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.mnzxc > a{
    text-decoration: none;
    color: gray;
}
.mnzxc > a:hover{
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #9ae200;
}

@media (max-width: 1280px) {
    .time-btns{
        padding: 20px 0px;
    }
}

/* Version styling */
@media (max-width:1280px) {
    .user, .left-content, .right-content, .slideshow, .dropdown-buttons{
        display: none;
    }
    .mid-content{
        flex: 0 0 100%;
    }
    .video-holder{
        flex: 0 0 100%;
        height: 55vh;
    }
    .video{
        flex: 0 0 65%;
        height: 252px;
    }
    .match-result{
        flex: 0 0 33%;
    }
    .title{
        align-self: flex-start;
    }
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: -35px;
    }
    .mobile-menu-holder{
        display: flex;
        flex: 1;
        padding: 0px 20px;
    }
    .mobile-menu, .betslip{
        display: flex;
        flex:1;
        font-size:30px;
        color: white;
        position: relative;
    }
    .mobile-menu{
        justify-content: flex-start;
    }
    .betslip{
        justify-content: flex-end;

    }
    .mobile-menu > span:nth-child(2), .betslip > span:nth-child(2){
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        position: absolute;
    }
    .mobile-menu > span:nth-child(2){
        top: 30px;
        left: -1px;
    }
    .betslip > span:nth-child(2){
        top:30px;
        right: -14px;
    }
}